html {
    background: url("./images/main.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

html, body {
    height: 100%;
    font-family: "Helvetica Neue Thin", "Helvetica Neue";
    font-weight: 200;   
}

nav ul {
    float: right;
}

nav li {
    font-family: "Montserrat";
    font-size: 1.7em;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 4.7em;
    list-style-type: none;
    color: white;
    float: left;
}

#main {
    display:block;
    width: 100%;
    height: 100%;
}

#title {
    /* take up full width possible */
    display: block;
    letter-spacing: 0.2em;
    font-size: 3.5em;
    color: white;
    text-align: center;
    position: relative;
    top: 3.5em;
    clear: both;
}

#caption {
    display: block;
    font-family: "Serif";
    font-style: italic;
    letter-spacing: 0.1em;
    color: white;
    font-size: 2em;
    position: relative;
    top: 7em;
    text-align: right;
    right: 3.0em;
    clear: both;
}

#date {
    display: block;
    text-align: center;
    font-family: "Open Sans";
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    position: relative;
    top: 10.5em;
}

button {
    font-family: "Helvetica Neue Thin", "Helvetica Neue";
    font-weight: 200;
    font-size: 2.3em;
    letter-spacing: 0.2em;
    border-radius: 7px;
    background-color: transparent;
    position: relative;
    top: 9em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-color: white;
    border-style: double;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
}